*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  width: 1140px;
  height: 534px;
  display: flex;
  gap: 30px;
  align-items: flex-end;
  margin: auto;
}

.result {
  display: flex;
  width: 711px;
  height: 456px;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video-container video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  gap: 40px;
  font-family: "Fira Sans Condensed", sans-serif;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 4px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  appearance: none;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.search-form__textfield::placeholder {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__checkbox-list .search-form__label:not(:first-child) {
  margin-left: 15px;
}

.search-form__checkbox-list {
  display: flex;
}

.search-form__label .search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: inline-block;
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin: 1px;
}

.search-form__label-text {
  padding-left: 5px;
  cursor: pointer;
}

.search-form__label-text:hover {
  text-decoration-line: underline;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration-line: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  padding: 6px 73.5px;
  height: 34px;
  margin-top: 20px;
}

.content__details {
  width: 399px;
  height: 534px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  font-style: normal;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 534px;
  overflow: scroll;
}

.content__list-item {
  margin-top: 30px;
}

.content__card-link {
  color: #fff;
  font-style: normal;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration-line: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.more-button {
  height: 34px;
  width: 399px;
  margin-top: 30px;
}
